@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services;
@inherits LayoutComponentBase

@inject AlarmServices alarmService

<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

@*
<main class="main">
    @Body
</main>
*@

<MudLayout>
    <div id="mainPage" class="page">
        <div class="ps-3 navbar navbar-dark" style="z-index:9; position:absolute; float:left">
            <div class="container-fluid">
                <a class="navbar-brand" href=""></a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@visibility">
            <NavMenu CollapsedMenu=vis IsPopoverOpenChanged="ToggleNavPopover" />
        </div>

        <MudMainContent>

            <MudPopover Open="@isOpen" Fixed="true" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter"
                        Class="col-sm-8 mt-10 h-25 w-50 border-solid border-4 mud-border-ternary">
                <div class="d-flex flex-column">
                    <MudText>Content of the popover can be anything.</MudText>
                    <MudButton OnClick="@TogglePopover" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                </div>
            </MudPopover>

            @Body
        </MudMainContent>
    </div>
</MudLayout>

@code{

    private void ToggleNavPopover()
    {
        isOpen = !isOpen;   
    }
}