@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services;
@inherits LayoutComponentBase

@inject AlarmServices alarmService

<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

@*
<main class="main">
    @Body
</main>
*@

<MudLayout>
    <div id="mainPage" class="page">
        <div class="ps-3 navbar navbar-dark" style="z-index:9; position:absolute; float:left">
            <div class="container-fluid">
                <a class="navbar-brand" href=""></a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@visibility">
            <NavMenu CollapsedMenu=vis />
        </div>


        <MudMainContent>
            @Body
        </MudMainContent>


        @*    <main>
        <article class="content px-4">
        @Body
        </article>
        </main>*@
    </div>
</MudLayout>




@code {

    private MudTheme theme = new();
    private bool isDarkMode=true;

    private string? visibility => vis ? "sidebar-hide" : "sidebar";
    bool vis = true;
    private void ToggleNavMenu()
    {
        vis = !vis;
    }

    protected override Task OnInitializedAsync()
    {
        alarmService.GetAlarmList();
        return base.OnInitializedAsync();
    }
}