@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Shared.Models
@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div id="mainPage" class="page">
        <div class="ps-3 navbar navbar-dark" style="z-index:9; position:absolute; float:left">
            <div class="container-fluid">
                <a class="navbar-brand" href=""></a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@visibility">
            <NavMenu CollapsedMenu=vis IsPopoverOpenChanged="ToggleNavPopover" />
        </div>

        <MudMainContent>
            <MudPopover Open="@isOpen" Fixed="true" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter"
                        Class="col-sm-8 mt-10 h-20 w-100 mr-6 border-solid border-2 mud-border-ternary">
                <EditAlarm IsPopoverOpenChanged="PopoverChanged" RingtoneFileNameEmpty="Select a ringtone"  Alarm="alarmDto" />
            </MudPopover>
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </MudMainContent>
    </div>
</MudLayout>

