@page "/"
@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services
@using DateTimeComponent
@using DateTimeComponent.Models
@using Weather

@inject IJSRuntime JsRuntime
@inject AlarmServices alarmService
@inject NavigationManager navigationManager

@if (!alarmActivated)
{
    <div class="overlay d-flex align-items-center">
        <MudButton id="buttonId" Class="mx-auto w-75 btn-overlay" Variant="Variant.Filled" Color="Color.Tertiary"
               OnClick="Full" Style="font-size: x-large">Activate the alarm</MudButton>
    </div>
}

<MudGrid>
    <MudItem xs="6">
        <WeatherComponent />
    </MudItem>
    <MudItem xs="6">
        <div class="d-flex justify-content-end element-container mr-12 position-absolute">
            <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=true EnableJsTime="false" />
        </div>
    </MudItem>
    <MudItem xs="12">
        @if (alarmService.AlarmList is not null)
        {
            @foreach (var alarm in alarmService.AlarmList)
            {
                <AlarmComponent CurrentAlarm="@alarm" EditRequested="OnAlarmEditRequest" />
            }
        }
    </MudItem>
</MudGrid>
