@page "/"
@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services
@using DateTimeComponent
@using DateTimeComponent.Models
@using Weather

@inject IJSRuntime JsRuntime
@inject AlarmServices alarmService

@if (!alarmActivated)
{
    <div class="overlay d-flex align-items-center">
        <MudButton id="buttonId" Class="mx-auto w-75 btn-overlay" Variant="Variant.Filled" Color="Color.Tertiary"
               OnClick="Full" Style="font-size: x-large">Activate the alarm</MudButton>
    </div>
}

<MudGrid>
    <MudItem xs="6">
        <WeatherComponent Latitude="45.284" Longitude="8.077" ApiKey="2b8623f4ec0a003d94ab9903c89c5125" />
    </MudItem>
    <MudItem xs="6">
        <div class="d-flex justify-content-end element-container mr-12 position-absolute">
            <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=true EnableJsTime="false" />
        </div>
    </MudItem>
    <MudItem>
        @*<div style="overflow-y:auto; bottom:10px">*@
            @if (alarmService.AlarmList is not null)
            {
                @foreach (var alarm in alarmService.AlarmList)
                {
                    <div class="ml-12">
                        <AlarmComponent CurrentAlarm="@alarm" />
                    </div>
                }
            }
        @*</div>*@
    </MudItem>
</MudGrid>

@*<div class="d-flex justify-content-end element-container ml-12 position-absolute">
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=true EnableJsTime="false" />
</div>
<div class="docs-section-content-inner relative d-flex flex-grow-1 flex-wrap justify-center align-center px-8 pb-8 pt-2 position-absolute">
    <WeatherComponent Latitude="45.284" Longitude="8.077" ApiKey="2b8623f4ec0a003d94ab9903c89c5125" />
</div>*@

@*<div style="overflow-y:auto">
    @if (alarmService.AlarmList is not null)
    {
        @foreach (var alarm in alarmService.AlarmList)
        {
            <div class="ml-12">
                <AlarmComponent CurrentAlarm="@alarm" />
            </div>
        }
    }
</div>*@