@page "/"
@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services
@using DateTimeComponent
@using DateTimeComponent.Models

@inject IJSRuntime JsRuntime
@inject AlarmServices alarmService

@if (!alarmActivated)
{
    <div class="overlay d-flex align-items-center">
        <MudButton id="buttonId" Class="mx-auto w-75 btn-overlay" Variant="Variant.Filled" Color="Color.Tertiary" OnClick="Full">Attiva la sveglia</MudButton>
    </div>
}
@*
@if (InSnooze)
{
    <div class="overlay d-flex align-items-center">
        <MudButton id="buttonId" Class="mx-auto w-75 btn-overlay" Variant="Variant.Filled" Color="Color.Tertiary" OnClick="Snooze">Snooze</MudButton>
    </div>
}*@


<div class="element-container">
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=true EnableJsTime="false" />
</div>

<MudButton Variant="Variant.Filled" OnClick="AddAlarmTest">TEST</MudButton>


<Alarm FileName="audio/file1.mp3"
       AlarmActive=true/>


