@page "/"
@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services
@using DateTimeComponent
@using DateTimeComponent.Models

@inject IJSRuntime JsRuntime
@inject AlarmServices alarmService

@if (!alarmActivated)
{
    <div class="overlay d-flex align-items-center">
        <MudButton id="buttonId" Class="mx-auto w-75 btn-overlay" Variant="Variant.Filled" Color="Color.Tertiary" 
                                OnClick="Full" Style="font-size: x-large">Activate the alarm</MudButton>
    </div>
}

<div class="element-container">
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=true EnableJsTime="false" />
</div>

<div style="overflow-y:auto">
    @if (alarmService.AlarmList is not null)
    {
        @foreach (var alarm in alarmService.AlarmList)
        {
            <div class="ml-12" > 
                <AlarmComponent CurrentAlarm="@alarm" />
            </div>
        }
    }

</div>