@page "/managemusic"
@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services;
@inject AlarmServices alarmService

    <div class="p-3" style="display: flex; justify-content: center; background-color:gray; margin-top:-65px">
        <h3>ManageMusic</h3>
    </div>

<MudGrid Class="mr-12 mt-6 mb-6 ml-12" Style="display: flex; justify-content: center;">
    @if (alarmService.RingtonesList is not null)
    {
        @foreach (var file in alarmService.RingtonesList)
        {
            if (file.Contains("file1.mp3"))
            {
                continue;
            }
            <MudItem Class="mr-12 mt-6 mb-6">
                <FileRingtoneManager FileName="@file" />
            </MudItem>
        }
        @if (alarmService.RingtonesList.Count == 0)
        {
            <MudItem Class="mr-12 mt-6 mb-6">
                <MudText>No files found</MudText>
            </MudItem>
        }
    }
</MudGrid>
