@using DateTimeComponent.Models;
@inject IJSRuntime JsRuntime
@inject SystemWatch SystemWatch

@if (IsSnoozeVisible)
{
    <div class="overlay d-flex align-items-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" 
                Class="btn btn-primary btn-block btn-lg h-50 w-25"
                OnClick="StopAlarm">Stop</MudButton>
            <MudButton id="buttonId" Class="d-block w-75 h-75" Variant="Variant.Filled" Color="Color.Tertiary" 
                    OnClick="SnoozeSound">Snooze</MudButton>
    </div>
}

<MudGrid>
    <MudItem xs="12" sm="3" md="3">    </MudItem>
    <MudItem xs="12" sm="3" md="3">
        <MudTimePicker Label="24 hours" @bind-Time="time" />
    </MudItem>
    <MudItem xs="12" sm="3" md="3">
        <MudCheckBox @bind-Checked="@AlarmActive" Label="Attiva"></MudCheckBox>
    </MudItem>
    <MudItem xs="12" sm="3" md="3">
        @if(Status == AlarmStatus.SNOOZED)
        {
            <MudButton Class="w-75" Variant="Variant.Filled" Color="Color.Primary" OnClick="StopAlarm">Stop</MudButton>
        }
    </MudItem>
</MudGrid>

<audio id="myAudio" style="visibility: hidden">
    <source src="@FileName" type="audio/mpeg">
</audio>
